* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-menu {
  border: 2px blueviolet dashed;
  width: 100 vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.menu li {
  display: inline;
}
.top-menu nav ul {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
}
.logo {
  background-image: url(../icon/youtube_icon.svg);
  background-size: 40px;
  width: 40px;
  height: 40px;
}
.logo_text {
  display: flex;
  /* justify-self: center; */
  align-self: center;
  margin-left: 45px;
  margin-top: 10px;
  text-align: center;
}
/*  Main  */
.main-container {
  display: flex;
  background-color: lavender;
}
.main-container .main {
  width: 7vw;
  height: 94vh;
  border: 2px red dashed;
}
